
	{%extends "layout.html"%}
	{%block content%}
	 <style>
      body{

      background-color: #3e4651;
    }
    
  </style>
  <h2 style="text-align: center;color:#eef28c ">___About Us___</h2><br>
	<h4 style="color: #ffffff ;margin-left: 100px; margin-right: 100px" ><p >This project is an attempt to change the current supermarket management system used by the shopowners and other staff</p>
		<br>
	<p>The Aim of this project is to provide an effective and efficient way of managing products and customers all at one place</p><br>
	<p>The Project provides the Admin the option to manage the database without any paper work involved.</p></h4>		
				
		{%endblock%}

	
