
	{%extends "layout.html"%}
	{%block content%}
	 <style>
      body{

      background-color: #3e4651;
    }
    
  </style>
  <h2 style="text-align: center;color:#eef28c ">___Contact___</h2><br>
 
	<h3 style="color: #ffffff ;margin-left: 100px; margin-right: 100px" >
		<div class="card-body" style="text-align: left;">
                <p class="card-text"><b>NAME: </b>KSHITIJ PORWAL</p>
                <p class="card-text"><b>USN: </b>1PE16CS074</p>
                <p class="card-text"><b>EMAIL:</b>kp65007@gmail.com</p>
              </div>
<hr style="color:#eef28c ;border-width: 10px;border-color: #eef28c ">
              <div class="card-body" style="text-align: left;">
                <p class="card-text"><b>NAME: </b>MANISH KUMAR B</p>
                <p class="card-text"><b>USN: </b>1PE16CS084</p>
                <p class="card-text"><b>EMAIL:</b>manishsencha1997@gmail.com</p>
              </div>
              <hr style="color:#eef28c ;border-width: 10px;border-color: #eef28c ">
	</h3>		
				
		{%endblock%}

	
