<!doctype html>
<head>
  <link rel="stylesheet" href="/static/style.css">
  
</head>
<title>
  Welcome 
</title>
<body>
  <div class="login-page">
  <div class="form">
    <form class="login-form" method="post">
      <input type="text" placeholder="username" name="username"/>
      <input type="password" placeholder="password" name="password"/>
      <button id="login" >login</button>
      <p class="message">For Employee <a href="order_home">Orders!!!</a></p>
    </form>
  </div>
</div>



</body>