
	{%extends "layout.html"%}
	{%block content%}
	 <style>
      body{

      background-color: #3e4651;
    }
    
  </style>
  <h2 style="text-align: center;color:#eef28c ">___Services___</h2><br>
	<h4 style="color: #ffffff ;margin-left: 100px; margin-right: 100px" >
		<ul>
  <li>The shop-owner will be able to view all products details.</li>
<li>The shop-owner will be able to view all sales and staff details.</li>
<li>The shop-owner will be able to add new products.</li>
<li>The staff will be able to add new customers.</li>
<li>The staff will be update orders.</li>
<li>The shop-owner will be able to see statistics of total cost spend on staff’s salary,
total sales and total stocks.</li>
</ul>
	</h4>		
				
		{%endblock%}

	
