
	{%extends "layout.html"%}
	{%block content%}
		<div>
	
					<table class="table table-hover">
						<thead class="thead-dark">
							<tr>
								<th class="column1">Total Salary Paid</th>
								<th class="column2">Total sales</th>
								<th class="column3">Total Stocks</th>
								
								
							</tr>
						</thead>
						<tbody>
								
								<tr>
									
									<td class="column1">{{ data[0] }}</td>
									<td class="column2">{{ data[1] }}</td>
									<td class="column3">{{ data[2] }}</td>
									
								</tr>
								
						</tbody>
					</table>
			
			</div>
				
		{%endblock%}

	



